header, main, footer {
    width: 90vw;
    margin: 0 auto;
}

figure {
    max-width: 650px;
    /* overflow: auto; */
    margin: 0 auto;
}

figure img {
    width: 100%;
}

#tetlist {
    display: flex;
    flex-flow: row wrap;
}

div.tet {
    flex: 0 0 450px;
}